<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
      <p>Alexander Pierce</p>
      <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
  </div>
  <!-- search form -->
  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search...">
      <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
          </span>
    </div>
  </form>
  <!-- /.search form -->
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN NAVIGATION</li>
    <li class="active treeview">
      <a href="#">
        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li class="active"><a [routerLink]="['/']"><i class="fa fa-circle-o"></i> Dashboard</a></li>
        </ul>
    </li>
    <li class="treeview">
      <a >
        <i class="fa fa-files-o"></i>
        <span>Emergecy</span>
        <span class="pull-right-container">
          <span class="label label-primary pull-right">4</span>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a [routerLink]="['/emergency']"><i class="fa fa-circle-o"></i> Emergency</a></li>
        <li><a [routerLink]="['/efr']"><i class="fa fa-circle-o"></i> Emergency first Responders</a></li>
        <li><a [routerLink]="['/emergencies']"><i class="fa fa-circle-o"></i>Emergencies</a></li>
      </ul>
    </li>

    <li class="treeview">
      <a >
        <i class="fa fa-pie-chart"></i>
        <span>Pupils</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a [routerLink]="['/add-pupil']"><i class="fa fa-circle-o"></i>New Pupil</a></li>
        <li><a [routerLink]="['/pupil']"><i class="fa fa-circle-o"></i> Pupils</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a>
        <i class="fa fa-laptop"></i>
        <span>Staff</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a [routerLink]="['/add-staff']"><i class="fa fa-circle-o"></i> New Staff</a></li>
        <li><a [routerLink]="['/view-staff']"><i class="fa fa-circle-o"></i>Staff</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a>
        <i class="fa fa-edit"></i> <span>Clubs</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a [routerLink]="['/add-club']"><i class="fa fa-circle-o"></i> New club</a></li>
        <li><a [routerLink]="['/view-club']"><i class="fa fa-circle-o"></i> View Clubs</a></li>
        <li><a [routerLink]="['/re-club-member']"><i class="fa fa-circle-o"></i> Register Club Member</a></li>
      </ul>
    </li>
    
    <li>
      <a [routerLink]="['/parents']">
        <i class="fa fa-calendar"></i> <span>Parents</span>
        <span class="pull-right-container">
          <small class="label pull-right bg-red">3</small>
          <small class="label pull-right bg-blue">17</small>
        </span>
      </a>
    </li>
    <li class="treeview">
      <a >
        <i class="fa fa-table"></i> <span>School News</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a [routerLink]="['/add-news']"><i class="fa fa-circle-o"></i>Publish News</a></li>
        <li><a [routerLink]="['/view-news']"><i class="fa fa-circle-o"></i>View News</a></li>
      </ul>
    </li>
   
  </ul>
</section>