<div>
  <app-nav></app-nav>
</div>
<div class="container-fluid wrapper ">
  <div class="container">
    <div class="col-sm-4">
      <h2>Think with us</h2>
      <h4> Innovate for the future</h4>
      <h4> Ideas fly around, share them here.</h4>
    </div>
    <div class="col-sm-8 homeDiv " >
    <h1>Hello Halima Mushomba, how will you help KQ invent for the future?</h1>
   <a  [routerLink]="['/add-initiative']"> <Button class="btn btn-lg btn-success"><h2 id="post-button">Post an Idea</h2></Button></a>
  </div>
</div>
</div>