  
  <header style class="main-header"  style="background-color:#e9222d">
  <a href="" class="" style="background-color:#e9222d">
    
    <!-- mini logo for sidebar mini 50x50 pixels -->
    
  </a>

  
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-collapse" style="background-color:#e9222d">
    <a [routerLink]="['/']" class="" style="background-color:#e9222d">
      <img src="assets/images/kq-logo.png" class="logo" alt="Logo" style="background-color:#e9222d">
      <img src="assets/images/sky-team.png" height="50px" width="50px" alt="Logo">
     
    </a>
   
    <div class="navbar-custom-menu" style="background-color:#e9222d">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
       
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="assets/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">{{username}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="{{image}}" class="img-circle" alt="User Image">

              <p>
                {{username}} - {{Role}}
                <small>Member since {{joindate}}</small>
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="row">
                <div class="col-xs-4 text-center">
                  <a href="#">Followers</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Sales</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Friends</a>
                </div>
              </div>
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="#" data-toggle="control-sidebar"></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
  
<header class="main-header" style="background-color:#FFFF">
  
    <div class="container-fluid" style="background-color:#FFFF">
    <div class="navbar-header" style="background-color:#FFFF">
    <!--  <a href="../../index2.html" class="navbar-brand"><b>Admin</b>LTE</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>-->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" style="background-color:#FFFF" id="navbar-collapse">
      <ul class="nav navbar-nav" style="background-color:#FFFF">
        <li style="background-color:#FFFF" class="active"><a href="#">Objectives <span class="sr-only">(current)</span></a></li>
       


        <li  class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Initiatives <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Specific</a></li>
            <li><a href="#">General</a></li>
           
          </ul>
        </li>
      </ul>
     
      <ul class="nav navbar-nav navbar-right" style="background-color:#FFFF">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background-color:#FFFF">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

</header>