.myInit{
    margin: 5px;}
    .panel{margin-top: 5px;}
    .likes{margin-right:25px;}
    .votes{margin-right:5px; }
    .initiative-title{text-align: center;}
    .homeDiv{}
    .jumbotron{color: #0000 }
    .post-button{align-items: center;}