<div>
  <app-nav></app-nav>
</div>
<body>
  <div class="container-fluid">
 <h2>My Initiatives
 <button class="btn btn-success pull-right">Post new</button>
 </h2>

 <ul class="nav nav-tabs nav-justified">
   <li class="active"><a data-toggle="tab" href="#home">Approved</a></li>
   <li><a data-toggle="tab" href="#menu1">Pending</a></li>
   <li><a data-toggle="tab" href="#menu2">Archived</a></li>
   
 </ul>

 <div class="tab-content">
   <div id="home" class="tab-pane fade in active">
     <h3 class="initiative-title">Approved Initiatives</h3>
     <div >

       <div class="col-sm-2 myInit">
         <div class="panel panel-default">
     <div class="panel-heading">IT and Computing</div>
     <div class="panel-body"><p>The wifi on F7Shark should be boosted<button style="margin-left: 20px;" class="btn btn-link" data-toggle="modal" data-target="#myModal">view</button></p></div>
     <div class="panel-footer">Votes  <div class="pull-right"><span class="label label-success votes">400</span><span class=" glyphicon glyphicon-thumbs-up likes"></span><span class="label label-warning votes">10</span><span class="glyphicon glyphicon-thumbs-down " ></span></div></div>
       </div>
       </div>
       <div class="col-sm-2 myInit">
         <div class="panel panel-default">
     <div class="panel-heading">IT and Computing</div>
     <div class="panel-body">The wifi on F20937Shark should be boosted</div>
     <div class="panel-footer">Votes  <div class="pull-right"><span class="label label-success votes">400</span><span class=" glyphicon glyphicon-thumbs-up likes"></span><span class="label label-warning votes">10</span><span class="glyphicon glyphicon-thumbs-down " ></span></div></div>
   </div>
       </div>

       <div class="col-sm-2 myInit">
         <div class="panel panel-default">
     <div class="panel-heading">IT and Computing</div>
     <div class="panel-body">The wifi on F20937Shark should be boosted</div>
     <div class="panel-footer">Votes  <div class="pull-right"><span class="label label-success votes">400</span><span class=" glyphicon glyphicon-thumbs-up likes"></span><span class="label label-warning votes">10</span><span class="glyphicon glyphicon-thumbs-down " ></span></div></div>
   </div>
       </div>

       <div class="col-sm-2 myInit">
         <div class="panel panel-default">
     <div class="panel-heading">IT and Computing</div>
     <div class="panel-body">The wifi on F20937Shark should be boosted</div>
     <div class="panel-footer">Votes  <div class="pull-right"><span class="label label-success votes">400</span><span class=" glyphicon glyphicon-thumbs-up likes"></span><span class="label label-warning votes">10</span><span class="glyphicon glyphicon-thumbs-down " ></span></div></div>
   </div>
       </div>
       
       
     </div>

       <!--modal--> 

<div id="myModal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog">
 <div class="modal-dialog">

   <!-- Modal content-->
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
       <h4 class="modal-title">The Title of the Innitiative</h4>
     </div>
     <div class="modal-body">
       <p>Some text in the modal.</p>
     </div>
   </div>

 </div>
</div>

       <!--end od modals!-->


    
   </div>
   <div id="menu1" class="tab-pane fade">
     <h3 class="initiative-title">Pending Initiatives</h3>
     <div>
       <div class="col-sm-3 myInit">
         <div class="panel panel-default">
     <div class="panel-heading">IT and Computing <span class="pull-right"> Level- 0</span></div>
     <div class="panel-body"><p>The wifi on F7Shark should be boosted<button style="margin-left: 20px;" class="btn btn-link" data-toggle="modal" data-target="#pendingModal">view</button></p></div>
     <div class="panel-footer"> 
       Votes  
       <div class="pull-right"><span class="label label-success votes">400</span>

         <span class=" glyphicon glyphicon-thumbs-up likes"></span>
         <span class="label label-warning votes">10</span>
         <span class="glyphicon glyphicon-thumbs-down " ></span></div>
       </div>
       </div>
   </div></div></div>
   <div id="pendingModal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog">
 <div class="modal-dialog">

   <!-- Modal content-->
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
       <h4 class="modal-title">The Title of the pending Innitiative</h4>
     </div>
     <div class="modal-body">
       <p>Some text in the modal.</p>
     </div>
   </div>

 </div>
</div>
   <div id="menu2" class="tab-pane fade">
     <h3 class="initiative-title">Archived Initiatives</h3>
     <div>
       <div class="col-sm-3 myInit">
         <div class="panel panel-default">
     <div class="panel-heading">IT and Computing <span class="pull-right"> Level- 0</span></div>
     <div class="panel-body"><p>The wifi on F7Shark should be boosted<button style="margin-left: 20px;" class="btn btn-link" data-toggle="modal" data-target="#pendingModal">view</button></p></div>
     <div class="panel-footer"> 
       Votes  
       <div class="pull-right"><span class="label label-success votes">400</span>

         <span class=" glyphicon glyphicon-thumbs-up likes"></span>
         <span class="label label-warning votes">10</span>
         <span class="glyphicon glyphicon-thumbs-down " ></span></div>
       </div>
       </div>
   </div></div></div>
   
 </div>
</div>